.main {
  width: 100%;
  padding: 20px;
}
.main .top {
  display: flex;
  justify-content: space-between;
}
.main img {
  width: 40px;
}
.main .logo {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.top .profile img {
  /* width: 50%; */
  border-radius: 50%;
}
.main .flex-dev {
  padding: 20px 100px;
}
.main .name-section {
  margin: 20px 0;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}
.main .name-section span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .predefined {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  margin: 10px 0px 10px 0px;
}
.main .pre-item {
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.main .pre-item p {
  font-weight: 550;
}
.main .pre-item:hover {
  background-color: #c5ccd4bd;
}
.main .pre-item img {
  width: 35px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 5px;
  border-radius: 50%;
  color: white;
  background-color: #1c1d1f65;
}
.bottom {
  position: relative;
}
.input-container {
  /* position: absolute;
  bottom: -20px; */
  /* height: 40px; */
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 3px 12px;
  border-radius: 20px;
  margin-bottom: 20px;
  /* width: 70%; */
}
.input-container input {
  width: 50%;
  border-style: none;
  font-size: 1rem;
  color: black;
  outline: none;
}

.input-container img {
  padding: 5px 2px;
  width: 30px;
  cursor: pointer;
}
.bottom-info {
  /* padding: 0px 0px 0px 10px; */
  color: #525e56;
}
.bottom-info a {
  color: #525e56;
  font-weight: 300;
}
.bottom-div {
  /* position: absolute; */
  z-index: 99;
}
.result {
  height: 75%;
  width: 78vw;
  overflow: auto;
  overflow-y: scroll;
}
.result::-webkit-scrollbar {
  display: none;
}
.result-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.result-title img {
  border-radius: 50%;
}
.result-box {
  display: flex;
  align-items: flex-start;
  margin: 20px 10px;
  padding: 4px 2px;
  gap: 10px;
}
.result-box {
  height: 400px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}
.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}
@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}
@media (max-width: 600px) {
  .main .flex-dev {
    padding: 0px;
  }
  .input-container {
    width: 100%;
  }
}
